<div class="container">
  <div class="list-group">
    <a href="#/details" class="list-group-item" ng-click="">Banana Chips</a>
    <a href="#/" class="list-group-item">Tapioca Chips</a>
    <a href="#/" class="list-group-item">Potato Chips</a>
  </div>


<!-- TODO: 1 you need to create the function which should be called by the click event
           2. you need to call the service / factory method which will get u the desired data
           3. to redirtection to happpen
              1. create anothe html and controller and register that controller in app.js with the html file
              2. in that controller you should abe able to call the APIS in service / factory -->
